body{
    background-color: #161629;
    padding: 0;
    margin: 0;
}

.container{
    /* background-color: aqua; */
    /* border: 2px solid black; */
    flex-grow: 1;
    /* flex-basis: 40%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    background-color: #161629;
}

.menu-container{
    background-color: #161629;
    padding: 5em;
}
.menu{
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    color: rgb(148,148,148);
    gap: 2em;
    
    
}
h2{
    color: antiquewhite;
}

.menu-resources{
    background-color: aqua;
    display: flex;
    border-radius: 25px;
    padding: 3em;
}

.col-resource{
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 800px;
    gap: 2em;
}


.col-devlopers{
    flex-grow: 1;
    flex-basis: 33%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 800px;
    gap: 2em;
}

.col-img-text{
    flex-grow: 1;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 6em; */
    gap: 2em;

}

.col-text-center{
    padding-left: 3em;
}

.col-img img{
    flex-basis: 20%;
    height: 10em;
    width: 100%;
    border-radius: 25px;
}
